<div class="container-fluid bg-light p-3">
  <div class="container p-3">
    <h1 class="text-center p-3">Cambiar Contraseña</h1>
    <div class="text-danger text-center m-2">{{this.msg}}</div>
    <form id="productForm" method="post" action="/api/sessions/passwordRestore">
      <div class="mb-1 mx-5">
        <label class="form-label align-self-center" for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" />
      </div>
      <div class="mb-1 mx-5">
        <label class="form-label align-self-center" for="password">Contraseña</label>
        <input class="form-control" type="password" name="password" id="password" />
      </div>
      <div class="mb-1 mx-5">
        <label class="form-label align-self-center" for="confirm">Confirmar Contraseña</label>
        <input class="form-control" type="password" name="confirm" id="confirm" />
      </div>
      <div class="pb-1 mx-5 text-center d-flex justify-content-between">
        <button class="btn btn-success m" type="submit">Guardar los cambios</button>
      </div>
    </form>

  </div>
</div>

<script src="/js/index.js"></script>